.etValidate_tip_wrap {
    position: absolute;
    border: 1px solid #aaa;
    padding: 8px 15px 8px 10px;
    background: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    z-index: 10;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: 10px;
        width: 8px;
        height: 8px;

        background: #f9f9f9;

        border-left: 1px solid #999;
        border-top: 1px solid #999;

        transform: rotate(45deg);
        z-index: 9;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: 10px;

        width: 9px;
        height: 1px;
        background: #f9f9f9;
        z-index: 9;
    }

    .etValidate_tip_msg {

        &:before {
            content: '!';
            font-size: 16px;
            font-weight: 900;
            display: inline-block;
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            color: #fff;
            background: #ffc107;
            margin-right: 5px;
            border-radius: 3px;
        }
    }
}


// TODO: to delete
div.main {
    padding: 10px;
}
/**
 * 表单布局
 */
.table-layout {
    /* width: 100% ;  */
    table-layout: fixed;
}
.table-layout input[type=text],
.table-layout input[type=file],
.table-layout select {
    box-sizing: border-box;
    width: 180px;
    height: 26px;
    padding: 1px 1px 1px 5px;
    border: 1px solid #aecaf0;
    border-radius: 1px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.table-layout textarea {
    box-sizing: border-box;
    height:50px;
    padding: 5px;
    border: 1px solid #aecaf0;
    font-family: inherit;
    font-size: inherit;
    border-radius: 1px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.table-layout button {
    box-sizing: border-box;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #aecaf0;
    background: #e5edf4;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}
.table-layout button:hover {
    outline: #2196f3 solid 1px;
}
.table-layout tr {
    height: 38px;
}
.table-layout td.label {
    width: 80px;
    text-align: right;
}
.table-layout td.ipt {
    width: 220px;
    text-align: left;
}
/*必填*/
.table-layout .no-empty:before {
    font-size: 4px;
    content: '*';
    color: red;
}
